In [106]:
# Title: octal_converter.ipynb
# Author: Charles "Chuck" Garcia

# Cell 1: Convert octal to decimal - Looping

import numpy as np


def base_to_decimal(val, base):
    """
    Converts the value 'val' from a given base 'base' to decimal.
    """
    res = 0
    val_str = str(val)[::-1]

    # Convert by expanding and adding the weights
    for place_value, digit in enumerate(val_str):
        res += int(digit) * pow(base, place_value)

    return res


val = 2323
base = 8
res = base_to_decimal(val, base)
print(f"Base-{base} value {val} in base-10: {res}")

Base-8 value 2323 in base-10: 1235

In [107]:
# Cell 2: Convert decimal to octal - Looping


def decimal_to_base(val, base):
    """
    Converts the value 'val' in base-10 to given base 'base'.
    """

    arr = []

    while val:
        arr.append(val % base)
        val = val // (base)

    # Invert the array and convert to integer
    return int("".join(str(x) for x in arr[::-1]))


val = res
base = 8
res = decimal_to_base(val, base)
print(f"Base-10 value {val} in base-{base}: {res}")

Base-10 value 1235 in base-8: 2323

In [108]:
# Cell 3: Convert octal to decimal - No Looping

val = int(str(res), base)
print(f"Base-{base} value {res} in base-10: {val}")

Base-8 value 2323 in base-10: 1235

In [116]:
# Cell 4: Convert decimal to octal - No Looping

res = np.base_repr(val, base=base)
print(f"Base-10 value {val} in base-{base}: {res}")

Base-10 value 1235 in base-8: 2323